Intermediate/
Saved/
Binaries/
LovnJack.sdf
LovnJack.opensdf
LovnJack.sln
Assets/Jack_idle.fbx
Assets/Jack_skelMesh.FBX
Assets/Jack_stopRunning.fbx
Assets/RunJackMusic.wav
Assets/jack-breath-stop.wav
Assets/jack-ohooo.wav
Assets/
